@media screen and (min-width: 1024px) {
    html{
        
    }
    .fond_img{
    margin: 0px;
    background-color:rgb(30, 31, 35);
    width: 100%; /* ajuster la largeur a lan page */
    height: 770px; /* Adjuster la hauteur */
    background-image:
        url('../img/bg.jpg'); /* importer l'image et placer un effet fondu bottom */
    background-size:cover; /*   couvrir le header avec l'image eviter la répitition  */
    background-repeat: no-repeat; /* evite de repeter l'image de fond */
    background-position-y: -190px;

    }
}