@media screen and (min-width: 1024px) {
    @font-face {
        font-family: "Berlin Sans FB Demi";
        src: url("/Projet_Caminar/Font-Family/Lexend[wght].ttf") format("opentype");
    }
    
    
    html, body {
        margin: 0;
        padding: 0;
        background-color:rgb(30, 31, 35); /* Couleur de fond générale */
    }

    body{
        font-family: "Berlin Sans FB Demi", sans-serif;
        /* font-family: "poppins", arial, sans serif; */
        margin: 0px;
    }
    .fond_img{
        position: absolute;
        /* margin: 0px; */
        background-color:rgb(30, 31, 35);
        width: 100%; /* ajuster la largeur a lan page */
        height: 770px; /* Adjuster la hauteur */
        background-image:
            url('../img/bg.jpg'); /* importer l'image et placer un effet fondu bottom */
        background-size:cover; /*   couvrir le header avec l'image eviter la répitition  */
        background-repeat: no-repeat; /* evite de repeter l'image de fond */
        background-position-y: -190px;
    }


    .head{
        position: relative;
        text-align: center; /* sert a centrer mon titre principale dans le header */
        color: white;

    }

    .head h1{
        padding-top: 100px;
        margin: 0px;
        font-size: 70px;
    }

    .head p{
        margin: 0 0 70px;
        font-size: medium;
        font-weight: thin;
        color: #b0afaf;
    }

    .main{
        position:relative;
        margin-top: 0px;
        margin-left: 10rem ;
        margin-right: 10rem;
        
        box-shadow: 0 0 5px rgba(32, 32, 32, 0.223), 0 0 10px rgb(25, 25, 25), 0 0 15px rgb(19, 19, 19), 0 0 20px rgb(10, 10, 10);
        
        

    }

    .intro{
        background-color: #ffffff;
        display:flex; /* aligner les element dans le block */
        flex-direction: column; /* dans quel direction ? dans ce cas en colonne   */
        flex-wrap: nowrap;
        text-align: center;
    }

    .intro h1{
        text-align: center;
        padding: 10px;
        font-size: xx-large;
        font-weight:bold;
        margin: 50px 0 0 0;
        position: relative;
    }

    .intro h1::after{
        content: "";
        display: block;
        width: 10%;
        height: 1px;
        background-color:rgba(0, 0, 0, 0.154);
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
    }

    .tro{
        color: #d7d6d6;
        margin: 30px 0 50px;
        letter-spacing: 3px;
    }

    .int{
        background-color: #f5f5f5;
        text-align: start;
        padding: 80px;
    }

    .int p{
        color: #7a7a7a;
        font-weight: 100;

    }


}